<div>
  <div class="position-relative">
    <%= image_tag "Park-Royal-Acapulco-Pool-Bar-1536x864-1.jpeg", style: "width: 100vw;" %>
    <div class="position-absolute text-center w-100 text-white" style="top: 40%; letter-spacing: 0.5rem;">
      <h1>DESTINOS</h1>
      <hr class="border-white w-50 mx-auto" style="border-top-width: 2px; opacity: 1;">
    </div>
  </div>

  <div class="container mt-2">
    <div class="p-3 text-center">
      <h2>Las experiencias vacacionales más extraordinarias del mundo</h2>
      <p class="w-75 mx-auto">Bienvenido a unas vacaciones de lujo en el paraíso. Bienvenido al mundo Dantavi, una colección de lujosos resorts, ubicados en los escenarios más hermosos de México. Con amenidades de la más alta calidad, alojamientos de máximo lujo y el mejor servicio en México. Nada como unas vacaciones en Dantavi.</p>
    </div>
  </div>
</div>

<% @destinations.each do |destination| %>
  <div class="my-5">
    <div class="position-relative">
      <%= image_tag "Malecon-de-Puerto-Vallarta.jpeg", style: "width: 100%; height: 250px; object-fit: cover;"%>
      <div class="position-absolute w-100 h-100 p-3 text-center text-white" style="top: 40%;">
        <h2>
          <%= destination.name.upcase %>
        </h2>
        <hr class="border-white w-25 mx-auto" style="border-top-width: 2px; opacity: 1;">
      </div>
    </div>

    <div class="container mt-2">
      <div class="p-3 text-center">
        <h2>
          <%= destination.description_title %>
        </h2>
        <p class="w-75 mx-auto">
          <%= destination.description %>
        </p>
      </div>
    </div>
  </div>
<% end %>
