<div class="position-relative">
  <%= image_tag @destination.image_url, style: "width: 100vw;" %>
  <div class="position-absolute text-center w-100 text-white" style="top: 45%; letter-spacing: 0.5rem;">
    <h1>
      <%= @destination.name.upcase %>
    </h1>
    <hr class="border-white w-50 mx-auto" style="border-top-width: 2px; opacity: 1;">
  </div>
</div>

<div class="container my-5">
  <div class="p-3 text-center">
    <h2>
      <%= @destination.description_title %>
    </h2>
    <p class="w-75 mx-auto">
      <%= @destination.description %>
    </p>
  </div>
</div>

<div>
  <h2 class="text-center mb-3">Hoteles</h2>
  <div class="row gx-0">
    <% if (@destination.hotels.count / 3) >= 1 %>
      <% (@destination.hotels.count / 3).times do |index| %>
        <% @destination.hotels[index,3].each do |hotel| %>
          <div class="col-4">
            <%= render "destinations/hotel", destination: @destination, hotel: hotel %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <% if (@destination.hotels.count % 3) != 0 %>
      <% @destination.hotels[-(@destination.hotels.count % 3)..-1].each do |hotel| %>
        <div class="col-<%= 12 / (@destination.hotels.count % 3) %>">
          <%= render "destinations/hotel", destination: @destination, hotel: hotel %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
